{%extends 'base.html' %}

{%block body%}


{% load static %}

  
<h> Settings </h>

<h1> 1.Privacy policy </h1> 
<p>Introduction </p>
<p1> Ensuring your privacy and security is our top priority. In order to provide our services, we collect your username, email, and password and the reason of your depression. Our Privacy Policy is designed to explain how we collect, use, disclose, and protect your personal information when you visit our website and use our services.</p>
<p>Information we collect </p>
<p2>We collect your username, password, and email information for the following purposes:
<ul>
   <li> To provide and maintain our services.</li>
    <li> To communicate with you, including responding to your inquiries and sending important updates.</li>
     <li>To improve our website and services.</li>
    <li> To personalize your experience and provide content and offers tailored to your interests.</li>
</ul>We would like to clarify that we only collect information about your mental health condition or the reason for your depression if you feel comfortable sharing it with us. We respect your privacy and understand that discussing personal topics like mental health can be difficult for some individuals. Our main goal is to provide a platform where people who feel hopeless or are in pain can feel safe and supported. We believe in fostering a positive and peaceful environment for all our users, and we are constantly working towards this goal. Thank you for trusting us with your personal information, and please feel free to reach out if you have any questions or concerns.</p2>
  <p> Data Usage </p>
  At Healing Soul, we collect and use your personal information for the following purposes:
 <p> Providing and Improving Services </p>  
<p3> We use the personal information you provide to deliver and enhance our services. This includes:
<ul>
   <li> Creating and managing your user account. </li> 
    <li>  Processing your requests, inquiries, and orders.</li>
        <li>  Personalizing your experience on our website.</li>
            <li>  Analyzing user behavior to improve our content and services.</li>
                <li>  Enhancing the functionality and usability of our website.</li> </ul>

                <p> communications :- </p>  
                We may use your contact information to communicate with you, including:
<ul>
             <li>   Responding to your inquiries and messages.  </li>   
                <li>     Sending you important updates and notifications related to your account.  </li>   
                    <li>     Informing you about changes to our services or policies.  </li>   <ul>


                        <p> Legal and security </p>  

                      We may use your information to comply with legal obligations, enforce our terms of service, and protect the security and integrity of our website. This includes:
                <ul>    <li>   Investigating and preventing fraud, unauthorized access, and other illegal activities.</li>
                        <li>  Complying with applicable laws, regulations, and legal processes.</li></ul>


<p> . Aggregated and Anonymized Data</p>
                        We may aggregate and anonymize user data to create statistical and analytical reports. This data is not personally identifiable and is used for research, trend analysis, and improving our services.


<p> Other Purposes</p>

We may use your personal information for purposes not described in this policy, but we will seek your consent if we intend to use your data for other purposes.
<p>Data Retention </p>
We will retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.
                </p3>

<p>Data- sharing </p>
<p4>  At Healing Soul, we take your privacy seriously and do not share your personal information with third parties except as described in this Privacy Policy. We may share your data in the following circumstances:   
    <p>Service Providers</p>   
    We may share your personal information with trusted service providers who assist us in operating our website and providing our services. These service providers are contractually bound to maintain the confidentiality and security of your data and are only permitted to use your information for specific tasks related to our services, such as hosting, payment processing, or analytics.
    <p>Legal Requirements</p> 
    We may disclose your personal information when required by law, subpoena, court order, or government request. We may also share information when we believe it is necessary to:

  <ul> <li>  Protect our rights, privacy, safety, or property.</li> 
    <li>  Prevent or address fraud, security, or technical issues.</li> 
        <li>   Enforce our Terms of Service or other agreements.</li>  </ul>
        <p> Aggregated and Anonymized Data</p> 

        We may share aggregated and anonymized user data with third parties for research, marketing, or statistical purposes. This data is not personally identifiable and does not reveal individual identities.

        <p>Publicly Shared Information</p> 
        Certain features of our website may allow you to share information publicly, such as user-generated content or comments. Please exercise caution when sharing personal information in these public areas, as it may be visible to other users.

</P4>
<p> User right </p>
<p5>
    <p> Access </p>  
    You have the right to request access to the personal information we hold about you. This includes details about how we collect, use, and share your data
    <p> Correction </p>
    If you believe that the personal information we hold about you is inaccurate or incomplete, you have the right to request corrections or updates to your data.
    <p> Deletion  </p>
    You can request the deletion of your personal information under certain circumstances, such as when it is no longer necessary for the purposes for which it was collected.
    <p> Objection </p>
    You have the right to object to the processing of your personal information for specific purposes, such as direct marketing.
    <p>Portability </p>
    You may have the right to receive a copy of your personal information in a structured, commonly used, and machine-readable format and to transmit this data to another data controller where technically feasible.
    <p> Consent and Revocation </p>
    If we rely on your consent for the processing of your personal information, you have the right to withdraw that consent at any time. Please note that withdrawing consent may affect your ability to access certain services.
    <p> Restriction of Processing </p>
    You can request the restriction of the processing of your personal information under certain circumstances, such as when you contest the accuracy of your data.
    <p> Lodging a Complaint</p>
    If you believe that your privacy rights have been violated, you have the right to lodge a complaint with the relevant data protection authority.
    To exercise any of these rights or if you have questions or concerns about your personal information, please contact us using the information provided in the "Contact Us" section of this Privacy Policy.
    
    Please note that there may be legal or contractual restrictions that affect your ability to exercise these rights. We will respond to your requests within a reasonable timeframe in accordance with applicable laws.
</p5>

<p> update policy</P>
<p6> We update our policy whenever there are changes to our policies or services. We will notify you of any updates and encourage you to review them regularly. Thanks for entrusting us with your personal information. If you have any questions or concerns, please feel free to reach out to us.
</p6>






{%endblock body%}