{% extends "base.html" %}
{% block body %}

{%load static%}

<div class = "container my-3">
<p style = "font-size:28px">  


Students play a crucial role in our society as they are the future of our nation and the world. However, it is concerning to see that many students suffer from mental health conditions due to intense competition that disrupts their peace and focus. This creates a situation where they become like puppets whose only focus is to score marks in a specific field, but are they truly learning or just memorizing facts? As a former student from India, I was once a topper in school but I recognize now that I was merely a puppet and failed to learn important skills. I was so consumed with studying that I couldn't spare any time for my passion, basketball.

It is clear that the Indian education system needs to be reformed to allow students to pursue their dreams with passion and focus. Teachers should motivate students rather than criticize them for not scoring the highest marks in every subject. As a former student, I regret being a puppet of my teachers and want to encourage students to follow their dreams.

To aid students in pursuing their dreams, I have created a platform 
where they can share their passion through writing blogs, essays, and poems or any other talent.
 This platform is designed to motivate others and to prevent students from giving up. As students are the future of society, their success is essential for our future. 

<img src = "{% static 'image/kid.jpeg'%}" width = "600px"  height = "500px"> <br>


 As a former student who was once consumed by academic pressure, I understand the importance of creating a safe and supportive environment for students to express themselves. Therefore, I am inviting students of all ages from around the world to participate in a platform that focuses on awareness, prevention, and creating a sense of security and love for those who need it.
 It is crucial that we come together and fight for humanity, creating an environment where people can feel loved, secure, and supported. Our future generations should not suffer the way we have, and it's up to us to complete this task. Let's work towards a brighter future and give peoples the opportunity to be their authentic selves without the fear of judgment or criticism.




</p>

</div>

{%endblock body%}